#top
{
  padding-bottom: 10px;
}

#banner
{
  padding-bottom: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

#topic
{
  padding-top: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;



}

#topic1
{
  padding-top: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

#abouttxt
{
  padding-top: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:60%
}

body
{
  background-color: #f9f9f9;
}
